/* Generics */
body {
    margin: 0 auto;
}

/* Header */
.box1 {
    width: 1400px;
    height: 150px;
    background-color: dodgerblue;
    background-image: url('../img/pattern.png');
    margin: auto;
}

#logo-booleaner {
    width: 200px;
    height: 150px;
}

/* Main Title&Images*/
main {
    width: 1400px;
    margin: auto;
}

h1 {
    font-size: 50px;
    margin: auto;
}

.written-by {
    font-size: 20px;
    color: grey;
}

#blog-owner {
    color: dodgerblue;
}

.written-when {
    font-size: 12px;
    color: grey;
    margin: 8px 0;
}


/* Main explanation */

p,
ul {
    font-size: 20px;
}

.highlighter {
    background-color: yellow;
}

